.slap-button{

	display: block;
	width: 100%;
	background-color: grey;
	padding: 14px 28px;
	border: none;
	cursor: pointer;
	text-align: center;
	color: white;
	font-size: 25px;
	border-radius: 45px;
}

#slap1, #slap2{

	font-size: xx-large;
	text-align: center;
}

.bonus-styles{

	opacity: 0;
	transition-duration: .2s;
}